* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hexContainer {
    height: 18rem;
    background-color: #005094;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.hex {
    border: double 1px white;
    padding: 5px 10px;
    font-size: 2rem;
}

hr {
    width: 100%;
}

button {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 700;
    border: none;
}

button:hover {
    cursor: pointer;
}
