@font-face {
    font-family: digital;
    src: url(./digital-7.ttf);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-width: 400px;
}

main h1 {
    margin-top: 1rem;
}

h2 {
    text-align: center;
}

.teamContainer {
    display: flex;
    background-color: rgb(11, 0, 77);
    gap: 1rem;
    scale: 150%;
    color: white;
    padding: 10px;
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.points div{
    color: red;
    width: 20px;
    text-align: end;
}

.teamFouls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 12px;
}

.teamFouls button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.foulBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 10px;
}

.bar1{
    width: 20px;
    height: 10px;
    background-color: transparent;
}

.bar2 {
    width: 20px;
    height: 10px;
    background-color: transparent;
}

.eventLogH{
    margin-top: 1rem;
    display: flex;
    font-size: 1.7rem;
    margin-bottom: 0;
}

.event{
    width: 480px;
    text-align: end;
    font-size: 1.5rem;
    height: 250px;
    vertical-align: top;
    overflow: auto;
    padding-right: 20px;
}

.event div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: digital;
    font-size: 2em;
    color: orange;
    background-color: black;
    height: 40px;
    width: 75px;
    margin-bottom: 10px;
}
.timeContainer button {
    display: inline;
    font-size: 10px;
    padding: 3px;
}

.timeContainer button:hover{
    cursor: pointer;
}
 .digit {
     width: 16px;
     text-align: end;
 }

@media only screen and (max-width: 600px) {
    .teamContainer{
        scale: 80%;
        margin-right: 55px;
    }
    h1{
        margin-right: 50px;
        margin-bottom: -30px;
    }
    .eventLogH {
        margin-top: -40px;
        margin-right: 50px;
    }

    .event {
        scale: 75%;
        margin-top: -50px;
        margin-right: 100px;
    }

}


